@{
    ViewBag.Title = "Home Page";
}

<h1>Logo</h1>
<h3 style="text-align:center">Welcome to Xome</h3>
<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#EmpDetails">Late Logout Register</a></li>
        <li role="presentation"><a href="#fdfdf">Temporary Id</a></li>
        <li role="presentation"><a href="#">Weekend Register</a></li>
        <li role="presentation"><a href="#">Interview Candidate</a></li>
        <li role="presentation"><a href="#">Vendor</a></li>
        <li role="presentation"><a href="#">Visitor</a></li>
        
    </ul>

           @Html.Partial("_EmployeeDetails")
      
    
</div>